  .body {
    font-family: 'Montserrat';
  }
  
  .navbar {
    background-color: #171717;
    border-bottom: 1px solid #333;
  }
  
  .nav-item {
    margin-right: 24px;
    font-weight:200;
  }
  
  .nav-item.active a {
    color: #F9B234 !important;
    font-weight: 600;
  }
  
  .nav-link span {
    color: #F9B234;
    font-weight: 600;
  }

  /* carousel */
  .carousel {
    height: 450px;
    background-color: #171717;
    color: white;
  }

  .carousel p {
      font-weight: 200;
  }

  .about {
    background-color: #EDEAEA;
  }

  .about h1{
    font-family: Lora;
    /* font-weight: bold; */
  }

  .forum h1{
    font-weight: 200;
    color: #B7B7B7;
  }
  
  .profesi h1{
    font-family: Lora;
  }